
 <!-- Header with 2 buttons -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Online shopping</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="head">
        <h1>
            <u>Welcome to online shopping!</u>
        </h1>

        <form action="/" method="get">
            <button class="back-btn" type="submit">Back to Home</button>
        </form>
        <form action="allorders" method="get">
            <button class="allorders" type="submit">All Orders</button>
        </form>
        
    </div>
</body>

</html>