
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.head{
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p {
    margin: 0; 
}

main {
    padding: 20px;
}

.order{
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center; 
}

form label {
    display: block;
    margin-bottom: 5px;
    text-align: center; 
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    text-align: center; 
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto; 
}

form button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

.receipt {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
}

#error {
    color: red;
    margin-top: 10px;
}

.footer{
    text-align: center;
}

.back-btn {
    background-color: #827b7b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color: #4CAF50;
}

.allorders{
    background-color: #827b7b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.allorders:hover {
    background-color: #4CAF50;
}
.ordersh1{
    text-align: center;
}
.reciepthead{
    text-align: center;
}